<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures a work of Sitecore Experience Explorer.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <parseReferrer>
        <processor type="Sitecore.Analytics.Pipelines.ParseReferrer.ParseGenericSearchEngine,Sitecore.Analytics">
          <engines hint="raw:AddHostParameterName">            
            
            <engine hostname="search.lycos.com" parametername="query" />
            <engine hostname="search.yahoo.com" parametername="p" />
            <engine hostname="www.10khits.com" parametername="q" />
            <engine hostname="www.247autohits.com" parametername="q" />
            <engine hostname="www.247besthits.com" parametername="q" />
            <engine hostname="www.334.hit.buy-targeted-traffic.com" parametername="q" />
            <engine hostname="www.4x4hits.com" parametername="q" />
            <engine hostname="www.adhitprofits.com" parametername="q" />
            <engine hostname="www.baidu.com" parametername="q" />
            <engine hostname="www.bigbeachhits.com" parametername="q" />
            <engine hostname="www.bing.com" parametername="q" />
            <engine hostname="www.boomingwebsitetraffic.com" parametername="q" />
            <engine hostname="www.buxbery.com" parametername="q" />
            <engine hostname="www.cashmoneyemail.com" parametername="q" />
            <engine hostname="www.clicknputt.com" parametername="q" />
            <engine hostname="www.clickvoyager.com" parametername="q" />
            <engine hostname="www.clikrev.com" parametername="q" />
            <engine hostname="www.clixsense.com" parametername="q" />
            <engine hostname="www.deepseahits.com" parametername="q" />
            <engine hostname="www.dragonsurf.biz" parametername="q" />
            <engine hostname="www.easyhits2u.com" parametername="q" />
            <engine hostname="www.easyhits4u.com" parametername="q" />
            <engine hostname="www.eliteautosurf.com" parametername="q" />
            <engine hostname="www.email-hog.com" parametername="q" />
            <engine hostname="www.europeansafelist.com" parametername="q" />
            <engine hostname="www.excellenceintraffic.com" parametername="q" />
            <engine hostname="www.explosivetraffic.net" parametername="q" />
            <engine hostname="www.facebook.com" parametername="q" />
            <engine hostname="www.freeprotraffic.com" parametername="q" />
            <engine hostname="www.freerotator.com" parametername="q" />
            <engine hostname="www.froggyhits.com" parametername="q" />
            <engine hostname="www.globaladstore.com" parametername="q" />
            <engine hostname="www.goneclicking.com" parametername="q" />
            <engine hostname="www.google.com" parametername="q" />
            <engine hostname="www.guaranteedmails.com" parametername="q" />
            <engine hostname="www.herculist.com" parametername="q" />
            <engine hostname="www.high-hits.com" parametername="q" />
            <engine hostname="www.hit2hit.com" parametername="q" />
            <engine hostname="www.hitbotz.com" parametername="q" />
            <engine hostname="www.hitleap.com" parametername="q" />
            <engine hostname="www.hitlink.com" parametername="q" />
            <engine hostname="www.hits4surfers.com" parametername="q" />
            <engine hostname="www.hitsafari.com" parametername="q" />
            <engine hostname="www.hitsboosterpro.com" parametername="q" />
            <engine hostname="www.hitsserver.com" parametername="q" />
            <engine hostname="www.hopesadsubmissions.com" parametername="q" />
            <engine hostname="www.hotwebsitetraffic.com" parametername="q" />
            <engine hostname="www.ilovehits.com" parametername="q" />
            <engine hostname="www.instantxchange.com" parametername="q" />
            <engine hostname="www.intellirotator.com" parametername="q" />
            <engine hostname="www.lazerhits.com" parametername="q" />
            <engine hostname="www.leadsleap.com" parametername="q" />
            <engine hostname="www.legacyhits.com" parametername="q" />
            <engine hostname="www.legacyteamcoop.com" parametername="q" />
            <engine hostname="www.lobbyhits.com" parametername="q" />
            <engine hostname="www.magicalmailer.com" parametername="q" />
            <engine hostname="www.mixas.io.ua" parametername="q" />
            <engine hostname="www.moltoclix.com" parametername="q" />
            <engine hostname="www.mteadcoop.com" parametername="q" />
            <engine hostname="www.ninjasurf.net" parametername="q" />
            <engine hostname="www.nmpsearchengineblaster.net" parametername="q" />
            <engine hostname="www.paidverts.com" parametername="q" />
            <engine hostname="www.powercashstream.com" parametername="q" />
            <engine hostname="www.promote-your-business.net" parametername="q" />
            <engine hostname="www.realhitz4u.com" parametername="q" />
            <engine hostname="www.redstagmailer.com" parametername="q" />
            <engine hostname="www.rockstarmailer.com" parametername="q" />
            <engine hostname="www.rodeomailer.com" parametername="q" />
            <engine hostname="www.scarlet-clicks.info" parametername="q" />
            <engine hostname="www.shockwave-traffic.com" parametername="q" />
            <engine hostname="www.smileytraffic.com" parametername="q" />
            <engine hostname="www.soaring4traffic.com" parametername="q" />
            <engine hostname="www.socialadsurf.com" parametername="q" />
            <engine hostname="www.socialsurf4u.com" parametername="q" />
            <engine hostname="www.sotuktraffic.com" parametername="q" />
            <engine hostname="www.space.taeprorent.com" parametername="q" />
            <engine hostname="www.startxchange.com" parametername="q" />
            <engine hostname="www.surf.toptiertraffic.com" parametername="q" />
            <engine hostname="www.surf.webbizinsider.com" parametername="q" />
            <engine hostname="www.surfscientist.com" parametername="q" />
            <engine hostname="www.teracingleague.com" parametername="q" />
            <engine hostname="www.tetoolbox.com" parametername="q" />
            <engine hostname="www.tezaktrafficpower.com" parametername="q" />
            <engine hostname="www.thumbvu.com" parametername="q" />
            <engine hostname="www.top1surf.com" parametername="q" />
            <engine hostname="www.tophits4u.com" parametername="q" />
            <engine hostname="www.tothepointpromotions.com" parametername="q" />
            <engine hostname="www.traffic2prosperity.com" parametername="q" />
            <engine hostname="www.trafficadbar.com" parametername="q" />
            <engine hostname="www.trafficattheraces.com" parametername="q" />
            <engine hostname="www.trafficbonus.com" parametername="q" />
            <engine hostname="www.traffic-fusion.biz" parametername="q" />
            <engine hostname="www.trafficg.com" parametername="q" />
            <engine hostname="www.trafficmonsoon.com" parametername="q" />
            <engine hostname="www.traffic-splash.com" parametername="q" />
            <engine hostname="www.trafficswirl.com" parametername="q" />
            <engine hostname="www.trck.me" parametername="q" />
            <engine hostname="www.twistrix.com" parametername="q" />
            <engine hostname="www.virallistbuilderplus.com" parametername="q" />
            <engine hostname="www.webmasterquest.com" parametername="q" />
            <engine hostname="www.website-traffic-hog.com" parametername="q" />
            <engine hostname="www.ww3.myonlinestats.com" parametername="q" />
            <engine hostname="www.yahoo.com" parametername="p" />
            <engine hostname="www.yoursafelist.net" parametername="q" />
            <engine hostname="www2.trafficadbar.com" parametername="q" />
          </engines>
        </processor>
      </parseReferrer>
    </settings>
    <!--
    <pipelines>

      <startTracking>
        <processor type="VisitorMutator.Pipelines.ChangeVisitorIpAddress, VisitorMutator"
                 patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.TrackerInitialized!, Sitecore.Analytics']" />
      </startTracking>
    </pipelines>
    -->
  </sitecore>
  
</configuration>
